    <section class="py-0" id="home">
      <div class="bg-holder d-none d-sm-block" style="background-image:url(assets/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
      </div>
      <div class="bg-holder d-sm-none" style="background-image:url(assets/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
      </div>
           <div class="container">
            <div class="row align-items-center min-vh-75 min-vh-md-100">
              <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
                <h1 class="mb-4 display-2 fw-semi-bold lh-sm">Prefeitura de
                    <br class="d-block d-lg-none d-xl-block" />Bom Destino</h1>
                <p class="mb-4 fs-1">SGM | Sistema de Gestão Integrada Municipal</p>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
          <div class="bg-holder" style="background-image:url(assets/img/illustrations/bg.png);background-position:left top;background-size:initial;margin-top:-180px;">
          </div>
          <div class="container">
            <div class="row flex-center">
              <div class="col-md-5 order-md-0 text-center text-md-start"><img class="img-fluid mb-4" src="assets/img/illustrations/passion.png" width="450" alt="" /></div>
              <div class="col-md-5 text-center text-md-start">
                <h6 class="fw-bold fs-3 display-3 lh-sm">Aqui as necessidades do
                    <br />
                    cidadão vem em primeiro lugar</h6>
                <p class="my-4 pe-xl-8"> Selecionamos os principais serviços destinados á facilitar o dia a dia do cidadão</p>
              </div>
            </div>
          </div>
        </section>

        <section class="py-8">
          <div class="container">
            <section class="py-8">
              <div class="container">
                <div class="row flex-center">
                  <div class="col-md-5 order-md-1 text-center text-md-end"><img class="img-fluid mb-4" src="assets/img/illustrations/jobs.png" width="450" alt="" /></div>
                  <div class="col-md-5 text-center text-md-start">
                    <h6 class="fw-bold fs-3 display-3 lh-sm">Chega de filas e de burocracia</h6>
                    <p class="my-4 pe-xl-8">Aqui você encontrara todas informações de forma centralizada </p>
                  </div>
                </div>
              </div>
            </section>
          </div> 
        </section>
  
        <section class="py-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-9 col-lg-6 text-center mb-3">
                <h5 class="fw-bold fs-5 lh-sm mb-3">Em breve você tera acesso aos itens</h5>
                <p class="mb-5">Sistemas para cidadães e funcionários</p>
              </div>
            </div>
            <div class="row flex-center h-100">
              <div class="col-10 col-xl-9">
                <div class="row">
                  <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                    <div class="card py-4 shadow-sm h-100 hover-top">
                      <div class="text-center"> <img src="assets/img/illustrations/finance.png" height="120" alt="" />
                        <div class="card-body px-2">
                          <h6 class="fw-bold fs-1 heading-color">Impostos</h6>
                          <p class="mb-0 card-text">Tire já suas duvidas</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                    <div class="card py-4 shadow-sm h-100 hover-top">
                      <div class="text-center"> <img src="assets/img/illustrations/design.png" height="120" alt="" />
                        <div class="card-body px-2">
                          <h6 class="fw-bold fs-1 heading-color">Cultura e entretenimento</h6>
                          <p class="mb-0 card-text">Veja agenda</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                    <div class="card py-4 shadow-sm h-100 hover-top">
                      <div class="text-center"> <img src="assets/img/illustrations/production.png" height="120" alt="" />
                        <div class="card-body px-2">
                          <h6 class="fw-bold fs-1 heading-color">Industria</h6>
                          <p class="mb-0 card-text">Tudo sobre a industria da nossa cidade</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                    <div class="card py-4 shadow-sm h-100 hover-top">
                      <div class="text-center"> <img src="assets/img/illustrations/education.png" height="120" alt="" />
                        <div class="card-body px-2">
                          <h6 class="fw-bold fs-1 heading-color">Educação</h6>
                          <p class="mb-0 card-text">Nossa prioridade </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                    <div class="card py-4 shadow-sm h-100 hover-top">
                      <div class="text-center"> <img src="assets/img/illustrations/consultancy.png" height="120" alt="" />
                        <div class="card-body px-2">
                          <h6 class="fw-bold fs-1 heading-color">Agendamentos</h6>
                          <p class="mb-0 card-text">Precisa de algo? Estamos aqui para te atender<br >Agende Já</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                    <div class="card py-4 shadow-sm h-100 hover-top">
                      <div class="text-center"> <img src="assets/img/illustrations/programmer.png" height="120" alt="" />
                        <div class="card-body px-2">
                          <h6 class="fw-bold fs-1 heading-color">Programadores</h6>
                          <p class="mb-0 card-text">Veja aqui as documentações de domínio publico</p>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </section>
  
  
 