<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 backdrop" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-flex align-items-center fw-bolder fs-2 fst-italic" href="#">
            <div class="text-info">Cidade</div>
            <div class="text-warning">Bom</div>
            <div class="text-info">Destino</div>
          </a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
              <li class="nav-item px-2 btn"><a class="nav-link fw-medium active" aria-current="page" (click)="home()">Home</a></li>
              <li class="nav-item px-2 btn"><a class="nav-link fw-medium"  (click)="open()">Cidadão</a></li>
              <li class="nav-item px-2 btn"><a class="nav-link fw-medium" (click)="admin()">Servidor</a></li>
            </ul>
            <form class="ps-lg-5 ">
                <div *ngIf="(user$ | async) as user; else login">
                  <i class="fa fa-user-circle mr-1"></i>
                  <a class="nav-item px-2">{{user.sub}}</a>
                  <a class="btn btn-lg btn-warning rounded-pill bg-gradient order-0" (click)="logout()">Sair</a>
                </div>
                <ng-template #login>
                  <a class="btn btn-lg btn-primary rounded-pill bg-gradient order-0" [routerLink]="['home', 'login']">Faça o Login</a>
                </ng-template>
              </form>
          </div>
        </div>
      </nav>
</header>

<!-- <header class="fixed-top"> -->
    <!-- <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">Cidade de Bom Destino</a>

        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{user.sub}}</a>
            <a (click)="logout()">(Logout)</a>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']">Faça o Login</a>
            </span>
        </ng-template> 

    </nav> -->

